.text__main {
    color: var(--font-color);
    font-size: 24px;
    line-height: 1.6;
    letter-spacing: -0.48px;
    font-family: var(--main-font);
    font-weight: 400;
}

.div__menu {
    display: flex;
    flex-direction: column;
    max-width: 340px;
    background-color: white;
    padding-inline-start: 60px;
    padding-top: 32px;
}

.ul__menu1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 16px;
}

.ul__menu1 a {
    display: inline-flex;
    justify-content: start;
    align-items: center;
    padding: 9px 12px 9px 12px;
    color: var(--font-color);
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: -0.48px;
    font-family: var(--main-font);
    font-weight: 500;
    gap: 8px;
}

.ul__menu2 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 16px;
    padding-bottom: 12px;
}

.ul__menu2 a {
    display: inline-flex;
    justify-content: start;
    align-items: center;
    padding: 9px 12px 9px 12px;
    color: var(--font-color);
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: -0.48px;
    font-family: var(--main-font);
    font-weight: 500;
    gap: 8px;
}

.ul__menu1 a:hover {
    color: rgb(107, 39, 255);
}

.ul__menu1 svg path:hover {
    fill: rgb(107, 39, 255);
}

.ul__menu2 a:hover {
    color: rgb(107, 39, 255);
}

.ul__menu2 svg path:hover {
    fill: rgb(107, 39, 255);
}

.signin__backlink {
    color: rgba(25, 6, 54, 0.3);
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 800;
    letter-spacing: -0.16px;
    display: flex;
    align-items: center;
    padding-top: 32px;
  }

.button__all {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: white;
    color: rgba(25, 6, 54, 0.3);
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.16px;
    gap: 15px;
    max-width: 155px;
    margin-bottom: 100px;
}

.a__exit {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--font-color);
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: -0.48px;
    font-family: var(--main-font);
    font-weight: 500;
    gap: 8px;
    max-width: 90px;
    padding-inline-start: 12px;
}

.a__exit:hover {
    color: rgb(107, 39, 255);
}

.a__exit svg path:hover {
    fill: rgb(107, 39, 255);
}

.div__information {
    max-width: 725px;
}

#avatar {
    background-color: antiquewhite;
    height: 200px;
    width: 200px;
    border: 3px solid #0af;
    border-radius: 50%;
    transition: background ease-out 200ms;
  }
  
  #preview {
    position: relative;
  }

  input[type="file"] {
    display: none;
  }

  button {
    padding: 18px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: #08f;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
                           0px 6px 10px 0px rgba(0, 0, 0, 0.14), 
                           0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    transition: background-color ease-out 120ms;
    position: absolute;
    right: -5%;
    bottom: 0%;
  }
  
  button:hover {
    background-color: #45a;
  }