.text__main {
    color: var(--font-color);
    font-size: 24px;
    line-height: 1.6;
    letter-spacing: -0.48px;
    font-family: var(--main-font);
    font-weight: 400;
}

.div__menu {
    display: flex;
    flex-direction: column;
    max-width: 340px;
    background-color: white;
    padding-inline-start: 60px;
    padding-top: 32px;
}

.ul__menu1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 16px;
    position: relative;
}

.ul__menu1 a {
    display: inline-flex;
    justify-content: start;
    align-items: center;
    padding: 9px 12px 9px 12px;
    color: var(--font-color);
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: -0.48px;
    font-family: var(--main-font);
    font-weight: 500;
    gap: 8px;
}

.ul__menu2 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 16px;
    padding-bottom: 12px;
}

.ul__menu2 a {
    display: inline-flex;
    justify-content: start;
    align-items: center;
    padding: 9px 12px 9px 12px;
    color: var(--font-color);
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: -0.48px;
    font-family: var(--main-font);
    font-weight: 500;
    gap: 8px;
}

.ul__menu1 a:hover{
    color: rgb(107, 39, 255);
}

.ul__menu1 a::before{
    content: "";
    position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg width='18.000000' height='19.987488' viewBox='0 0 18 19.9875' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' %3E%3Cdesc%3ECreated with Pixso.%3C/desc%3E%3Cdefs /%3E%3Cpath id='Vector' d='M15 0L3 0C1.34003 0 0 1.33002 0 2.96997L0 13.88C0 15.52 1.34003 16.85 3 16.85L3.76001 16.85C4.56 16.85 5.32001 17.16 5.88 17.72L7.59003 19.41C8.37 20.18 9.64001 20.18 10.42 19.41L12.13 17.72C12.69 17.16 13.46 16.85 14.25 16.85L15 16.85C16.66 16.85 18 15.52 18 13.88L18 2.96997C18 1.33002 16.66 0 15 0ZM9 3.75C10.29 3.75 11.33 4.78998 11.33 6.08002C11.33 7.37 10.29 8.40997 9 8.40997C7.71002 8.40997 6.66998 7.35999 6.66998 6.08002C6.66998 4.78998 7.71002 3.75 9 3.75ZM11.68 13.06L6.32001 13.06C5.51001 13.06 5.03998 12.16 5.48999 11.49C6.16998 10.48 7.48999 9.79999 9 9.79999C10.51 9.79999 11.83 10.48 12.51 11.49C12.96 12.16 12.48 13.06 11.68 13.06Z' fill='rgb(35, 11, 63)' fill-opacity='1.000000' fill-rule='nonzero' /%3E%3C/svg%3E");
}

.ul__menu1 svg path:hover {
    fill: rgb(107, 39, 255);
}

.ul__menu2 a:hover {
    color: rgb(107, 39, 255);
}

.ul__menu2 svg path:hover {
    fill: rgb(107, 39, 255);
}

.signin__backlink {
    color: rgba(25, 6, 54, 0.3);
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 800;
    letter-spacing: -0.16px;
    display: flex;
    align-items: center;
    padding-top: 32px;
  }

.button__all {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: white;
    color: rgba(25, 6, 54, 0.3);
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.16px;
    gap: 15px;
    max-width: 155px;
    margin-bottom: 100px;
}

.a__exit {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--font-color);
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: -0.48px;
    font-family: var(--main-font);
    font-weight: 500;
    gap: 8px;
    max-width: 90px;
    padding-inline-start: 12px;
}

.a__exit:hover {
    color: rgb(107, 39, 255);
}

.a__exit svg path:hover {
    fill: rgb(107, 39, 255);
}

.div__information {
    max-width: 725px;
}