  .button__corporationact {
    background-color: rgb(255, 255, 255);
    color: rgb(107, 39, 255);
    font-size: 24px;
    line-height: 1.6;
    letter-spacing: -0.48px;
    font-family: var(--main-font);
    font-weight: 800;
  }

  .ChangeAcc {
    display: inline-flex;
    position: absolute;
    margin-inline-start: 40px;
    gap: 32px;
    margin-top: -44px;
    margin-inline-start: 39px;
  }

  .button__corporationacttt {
    color: rgba(107, 39, 255, 0);
    border-top-style: solid;
    border-top-color: rgb(107, 39, 255);
    border-top-width: 6px;
    margin-top: 39px;
    margin-inline-start: -222px;
    border-radius: 6px;
  }