.div__input {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 32px;
    margin-bottom: 56px;
}

.div__input input {
    border: none;
    border-radius: 20px;
    background: rgb(244, 244, 246);
    padding: 23px 36px 23px 36px;
    width: 112px;
    height: 69px;
    color: rgb(35, 11, 63);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 145%;
    letter-spacing: -1%;
    text-align: center;
}